<div class="post">
        <p class="meta"><span class="date"><?php echo date("d.m.y", time()); ?></span>
        <?php echo date("H:i", time()); ?> 
        </p>
        <form action="?route=add" method="POST" >
        <h2 class="title">Назва публікації</h2>
        <p><?php if(isset($errors['title'])) echo $errors['title'] ;?></p>
        <div class="entry">
            <input type="text" name="title" value=""/>
        </div>
        <h2 class="title">Текст публікації</h2>
        <p><?php if(isset($errors['text'])) echo $errors['text'] ;?></p>
        <div class="entry">
            <textarea name="text"></textarea>
            <input type="submit" value="Опублікувати">
            <h2><?php if(isset($success)) echo $success; ?></h2>
        </div>
        
        </form>
    </div>