<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>easyBlog.CMS</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/style/style_index.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="header-wrapper">
	<div id="header">
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="/index.php">Blog</a></li>
				<li ><a href="/?route=admin" >Admin</a></li>
                <li ><a href="/?route=logout">Logout</a></li>
                <li ><a href="?route=admin_add" >Add Admin</a></li>
                <li class="last"><a class="last" >Ви, <?php echo $session->
getSession('admin_name'); ?></a></li>
			</ul>
		</div>
	</div>
</div>
<!-- end #header -->
<!-- end #header-wrapper -->
<div id="logo">
	<h1><a href="/index.php">easyBlog.CMS </a></h1>
	<p><em> Тут інформація про  <a href="/index.php">easyBlog.CMS</a></em></p>
</div>
<hr />
<!-- end #logo -->
<div id="page">
<h2 align="center"><a href="admin.php?route=add">Створити публікацію</a> </h2>
	<div id="page-bgtop">
		<!-- start #content -->
        

        <div id="content">